<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Hospitals</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>All Hospitals</h1>
    <div class="row games-list">
        {{#each model.created}}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="video-group">
                            <li class="video-title">{{id}}</li>
                            <li class="video-genre">{{name}}</li>
                            <li class="video-genre">{{address}}</li>
                            <form action="/delete/{{id}}" method="post">
                                <input type="submit" name="delete" value="delete" />
                            </form>
                            <a href="/hospital/{{id}}">View Hospital</a>
                        </ul>
                    </div>
                </div>
            </div><!-- END COL -->
        {{/each}}
    </div><!-- END ROW -->
</div>
</body>
</html>